@{
    ViewBag.Title = "Projeto Beta - Administrativo";
}

<div class="row-fluid">
    @Html.Partial("_MenuAdministrativo")
    <div class="span9">
        <div class="span12" style="margin-left: 10px">
            <div class="row">
                <div class="span12">
                    <div class="page-header">
                        <h1>Administrativo <small>aqui você pode administrar</small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h2>Usuário</h2>
                    <p>Nesta seção você pode administrar os usuário do sistema, setando as permissões do mesmo.</p>
                    <p><a href="javascript:;" class="btn">Acessar &raquo;</a></p>
                </div>
                <div class="span6">
                    <h2>Grupo de Usuários</h2>
                    <p>Nesta seção você cri os grupos dos usuários, organizando assim os usuários do sistema.</p>
                    <p><a href="javascript:;" class="btn">Acessar &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
