@{
    ViewBag.Title = "Projeto Beta - Administrativo";
}

<div class="row">
    <div class="span3">
        <div class="well">
            <ul class="nav nav-list">
                <li class="nav-header">Administrativo</li>
                <li><a href="javascript:;">Usuário</a></li>
                <li><a href="javascript:;">Grupo de Usuário</a></li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <div class="row">
            <div class="span9">
                <div class="page-header">
                    <h1>Administrativo <small>aqui você pode administrar</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Usuário</h2>
                <p>Nesta seção você pode administrar os usuário do sistema, setando as permissões do mesmo.</p>
                <p><a href="javascript:;" class="btn">Acessar &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>Grupo de Usuários</h2>
                <p>Nesta seção você cri os grupos dos usuários, organizando assim os usuários do sistema.</p>
                <p><a href="javascript:;" class="btn">Acessar &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
