@{
    ViewBag.Title = "Projeto Beta - Painel de Controle";
}

<div class="hero-unit">
    <h1>Projeto Beta</h1>
    <p>Este projeto visa demonstrar o uso das tecnologias MongoDb, Knokcou JS, Twitter Bootstrap e ASP .Net Web API</p>
    <p><a href="javascript:;" class="btn btn-primary btn-large">Para saber mais &raquo;</a></p>
</div>

<div class="row">
    <div class="span6">
        <h2>MongoDb</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a href="javascript:;" class="btn">Veja mais</a></p>
    </div>
    <div class="span6">
        <h2>Knockout JS</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a href="javascript:;" class="btn">Veja mais</a></p>
    </div>
</div>
<div class="row">
    <div class="span6">
        <h2>Twitter Bootstrap</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a href="javascript:;" class="btn">Veja mais</a></p>
    </div>
    <div class="span6">
        <h2>ASP.Net Web API</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a href="javascript:;" class="btn">Veja mais</a></p>
    </div>
</div>