<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Administrativo</li>
            <li><a href="javascript:;">Usuário</a></li>
            <li><a href="javascript:;">Grupo de Usuário</a></li>
        </ul>
    </div>
</div>
