<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Projeto Beta - Painel</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Projeto Beta <small>MongoDb, Twitter Bootstrap, KnockoutJS e ASP.Net</small></h1>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <p></p>
                </div>
                <div class="span4">
                    <form action="" method="POST" class="form-horizontal">
                        <legend>Acessar o sistema</legend>
                        <label for="nome">Usuário:</label>
                        <input type="text" name="nome" class="span4"/>
                        
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" class="span4"/>
                        <div class="span4"><p></p></div>
                        <button type="submit" class="btn btn-primary pull-right">Entrar</button>
                    </form>
                </div>
                <div class="span4">
                    <p></p>
                </div>
            </div>
        </div>

        <script src="~/Scripts/bootstrap.js"></script>
    </body>
</html>
